.dashboard-page{
min-height:100vh;
background:#f8fafc;
}

.dashboard-navbar{
height:80px;
background:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 60px;
box-shadow:0 10px 30px rgba(0,0,0,.05);
position:sticky;
top:0;
z-index:100;
}

.dashboard-logo{
display:flex;
align-items:center;
gap:12px;
font-weight:700;
color:#2563eb;
}

.dashboard-logo h2{
font-size:26px;
}

.dashboard-right{
display:flex;
align-items:center;
gap:20px;
}

.icon-btn{
width:48px;
height:48px;
border:none;
border-radius:50%;
background:#eff6ff;
cursor:pointer;
display:flex;
align-items:center;
justify-content:center;
transition:.3s;
}

.icon-btn:hover{
background:#dbeafe;
transform:scale(1.08);
}

.profile{
cursor:pointer;
color:#2563eb;
}

.dashboard-content{
padding:40px 60px;
}

.dashboard-title{
font-size:38px;
font-weight:700;
margin-bottom:8px;
}

.dashboard-subtitle{
color:#64748b;
margin-bottom:35px;
}

.dashboard-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
margin-top:30px;
width:100%;
}

@media(max-width:1200px){
.dashboard-grid{
grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:768px){
.dashboard-grid{
grid-template-columns:1fr;
}
}

.sos-wrapper{
display:flex;
justify-content:center;
margin:60px 0;
}

.sos-button{
width:140px;
height:140px;
border-radius:50%;
border:none;
background:#dc2626;
color:white;
font-size:34px;
font-weight:bold;
cursor:pointer;
box-shadow:0 0 35px rgba(220,38,38,.45);
transition:.35s;
}

.sos-button:hover{
transform:scale(1.08);
box-shadow:0 0 60px rgba(220,38,38,.65);
}
.bottom-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:25px;
margin-top:40px;
}

@media(max-width:900px){
.bottom-grid{
grid-template-columns:1fr;
}
}
.dashboard-content{
max-width:1400px;
margin:auto;
padding:40px;
}