.footer{
padding:70px 0;
background:#0f172a;
color:white;
text-align:center;
}

.footer h2{
margin-bottom:15px;
}

.footer p{
margin-bottom:25px;
color:#cbd5e1;
}

.footer-links{
display:flex;
justify-content:center;
gap:30px;
margin-bottom:25px;
flex-wrap:wrap;
}

.footer-links a{
color:white;
}

.footer small{
color:#94a3b8;
}